input{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}
.login{

height: 250px;
width: 500px;
}
label
{
    width: 130px;
    display: inline-block;
    text-align: right;
}
.buttonDesign{
    height: 50px;
width: 100px;
margin-left: 140px;
}
.last{
    margin-top: 10%;
    margin-left: 5%;
    color: blue;
}